.btn-custom{
    padding: 8px 25px;
    border-radius: 50px;
    background-color: #EFEFEF;
    padding: 15px;
    width: 100%;
}
.icon{
    width: 20px;
    height: 20px;
}
.btn-active{
    background-image: linear-gradient(to right, #4A1CB8,purple);
    color:white;
}