body{
    overflow-x: hidden;
}
.left{
    min-height:590px;;
    background-image: url('./assets/user-exp.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.blockquote{
    font-size: 12px;
}
.text-light{
    color:white
}
.brandName{
    font-weight: bold;
    font-size: -webkit-xxx-large;
}
.scrollable{
    overflow-y: auto;
    height: auto;
    height: 590px;
}

